!.env.template
.dev.env
.dockerignore
.env
.env.dev
**/*.git
.next
**/*.log
*.md
**/.husky
**/.key
**/.pem
**/.vscode
**/coverage
Dockerfile
eslint*
jest*
log/
node_modules/
sample_data
test/
.github/
CODEOWNERS
cdk/
